# renerate with: openssl rand -hex 32
MITTWALD_SECRET=

# defaults to the image user (for ./config directory) (optional)
PUID=
PGID=

# default is https://api64.ipify.org (optional)
MITTWALD_IP_SERVICE_URL=
# default is ~/.config/mittwald-ddns.json (optional)
MITTWALD_CONFIG_PATH=
